/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
vue/src/assets/css/main.css
vue/selenium/venv
vue/selenium/report.html
vue/selenium/log.html
vue/selenium/output.xml
vue/selenium/python
results

vue/src/images/Event/*
vue/src/images/HeroBanner/*
vue/src/images/News/*
vue/src/images/Service/*
vue/src/images/User/*